<h2>Basic Branch - {{title}}</h2>

<!-- <app-parent2></app-parent2> -->

<!-- <app-dashboard></app-dashboard>
<br>
<app-exam-child></app-exam-child>



<br>

<app-dyn></app-dyn> -->


<!-- <app-assignment1></app-assignment1> -->

<!-- <app-assignment2></app-assignment2> -->
 <!-- <app-assignment3></app-assignment3> -->
<!-- <app-host></app-host> -->
 <!-- <app-assignment4></app-assignment4> -->
  <!-- <app-assignment5></app-assignment5> -->

  <!-- <h1 class="ayush">Ayushman</h1> -->
   <!-- <app-assignment6></app-assignment6> -->
    <!-- <app-card>
         <ng-template #cardAction>
    <button>Action!</button>
  </ng-template>

           <ng-template #cardAction2>
    <button>Boom!</button>
  </ng-template>
    </app-card> -->

 <!-- <app-scroll-demo></app-scroll-demo>    -->
  <!-- <app-toggle-panel></app-toggle-panel> -->
   <app-caret-parent></app-caret-parent>