<!-- <app-pipe-com></app-pipe-com> -->
<!-- <app-component-parent></app-component-parent> -->
 <!-- <app-q-parent-component></app-q-parent-component> -->
<!-- <app-parent-component-1></app-parent-component-1> -->

<!-- <ul *ngFor = "let l of users">
    <li>{{l.name}} | {{l.email}}</li>
</ul> -->

<ul *ngFor = "let l of  users | sort:'name':'desc'">
    <li>{{l.name}} | {{l.email}}</li>
</ul>

<ul *ngFor = "let l of  users | sort:'name':'asc'">
    <li>{{l.name}} | {{l.email}}</li>
</ul>

<li>{{d | timeago}}</li>

<!-- <ul *ngFor = "let l of users | sort:'email':'desc'">
    <li>{{l.name}} | {{l.email}}</li>
</ul> -->

<!-- <ul *ngFor = "let l of users | search :'idc':'email'">
    <li>{{l.name}} | {{l.email}}</li>
</ul> -->
